body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    text-align: center;
}

h1 {
    margin: 20px;
}

.card {
    background: white;
    margin: 10px auto;
    padding: 15px;
    width: 300px;
    border-radius: 8px;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

span {
    font-weight: bold;
    color: #007BFF;
}

